body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* footer {
  background-color: #348888;
  height: 10vh;
} */

.section-border {
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 70px;
  background-color: rgb(250, 250, 250);
  border: 5px solid black;
}
@media (max-width: 1100px) {
  .section-border {
    margin-left: 0;
    margin-right: 0;
  }
}

.item-border {
  padding: 5px;
  margin: 5px;
  margin-left: auto;
  margin-right: auto;
}

.card-image {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  object-fit: cover;
  height: 130px;
}

.bg-color {
  background-color: #348888;
  min-height: 100vh;
  max-height: 100%;
}

.nav-logo {
  margin-left: 5px;
  margin-right: 10px;
}

.nav-color {
  background-color: #22babb;
  border-radius: 5px;
  font-weight: bold;
}

.nav-text {
  color: white;
}

.add-btn {
  border-radius: 5px;
  background-color: #fa7f08;
  margin-left: 5px;
  border-style: none;
  color: white;
  text-align: center;
  transition-duration: 0.2s;
}

.add-btn:hover {
  background-color: #f24405;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.top-margin {
  margin-top: 10px;
}

.padding {
  padding: 5px;
  text-align: center;
}

.add-link {
  text-align: right;
  color: #f24405;
  font-style: italic;
}

.welcome-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4vh;
  margin-bottom: 2vh;
  color: #9ef8ee;
  max-width: 10rem;
  max-height: 2rem;
}

.welcome-subtitle {
  text-align: center;
  font-style: italic;
  margin-right: 300px;
  margin-left: 300px;
  margin-top: auto;
  margin-bottom: 2vh;
}

.welcome-body {
  text-align: center;
  margin-right: 200px;
  margin-left: 200px;
  color: white;
  margin-bottom: 4vh;
}

.btn-outline-success {
  color: #f24405 !important;
  border-color: #f24405 !important;
}

.link-green {
  color: #22babb;
  text-decoration: none;
}

.link-green:hover {
  color: #348888;
}

.link-delete {
  color: #f24405;
}

.card-body {
  margin: 0px;
}

.overlayDesktop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.overlayMobile {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 767px) {
  .overlayDesktop {
    display: none;
  }
  .overlayMobile {
    display: block;
  }
}

.Welcome-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.95);
}

.main {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
}

._sign-up-button {
  background-color: #348888;
  font-size: 1.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 5px;
  border-style: none;
  color: white;
  text-align: center;
  transition-duration: 0.2s;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  ._sign-up-button {
    font-size: 1.25rem;
    letter-spacing: 0.05rem;
  }
}

.text-container {
  opacity: 0;
  transition: opacity 1.5s ease-in;
  pointer-events: none; /* Prevent the text/buttons from blocking clicks on the video */
}

.text-container.show {
  opacity: 1;
  pointer-events: auto;
}

.section-border {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
}

/* Styles for screens below 1000px */
@media (max-width: 1000px) {
  .no-side-spacing .section-border {
    margin-left: 0;
    margin-right: 0;
  }
}

.flexing {
  display: flex;
  flex-direction: row;
}
.rating {
  text-align: right;
}
@media (max-width: 700px) {
  .flexing {
    flex-direction: column;
  }
  .rating {
    text-align: left;
  }
}
